:root {
  color-scheme: light dark;
  --bg-app: light-dark(#f8f9fa, #121212);
  --bg-surface: light-dark(#ffffff, #1e1e1e);
  --bg-hover: light-dark(#e9ecef, #2c2c2c);
  --text-main: light-dark(#212529, #f8f9fa);
  --text-muted: light-dark(#6c757d, #adb5bd);
  --brand-primary: light-dark(#0b7285, #66d9e8);
  --brand-danger: light-dark(#e03131, #ff8787);
  --border-color: light-dark(#dee2e6, #495057);
  --dark-a5: rgb(0 0 0 / 5%);
  --light-a5: rgb(255 255 255 / 5%);
  --overlay-5: light-dark(rgb(0 0 0 / 5%), rgb(255 255 255 / 5%));
  --text-alpha-5: light-dark(rgb(0 0 0 / 5%), rgb(255 255 255 / 5%));
  --dark-a10: rgb(0 0 0 / 10%);
  --light-a10: rgb(255 255 255 / 10%);
  --overlay-10: light-dark(rgb(0 0 0 / 10%), rgb(255 255 255 / 10%));
  --text-alpha-10: light-dark(rgb(0 0 0 / 10%), rgb(255 255 255 / 10%));
  --dark-a15: rgb(0 0 0 / 15%);
  --light-a15: rgb(255 255 255 / 15%);
  --overlay-15: light-dark(rgb(0 0 0 / 15%), rgb(255 255 255 / 15%));
  --text-alpha-15: light-dark(rgb(0 0 0 / 15%), rgb(255 255 255 / 15%));
  --dark-a20: rgb(0 0 0 / 20%);
  --light-a20: rgb(255 255 255 / 20%);
  --overlay-20: light-dark(rgb(0 0 0 / 20%), rgb(255 255 255 / 20%));
  --text-alpha-20: light-dark(rgb(0 0 0 / 20%), rgb(255 255 255 / 20%));
  --dark-a25: rgb(0 0 0 / 25%);
  --light-a25: rgb(255 255 255 / 25%);
  --overlay-25: light-dark(rgb(0 0 0 / 25%), rgb(255 255 255 / 25%));
  --text-alpha-25: light-dark(rgb(0 0 0 / 25%), rgb(255 255 255 / 25%));
  --dark-a30: rgb(0 0 0 / 30%);
  --light-a30: rgb(255 255 255 / 30%);
  --overlay-30: light-dark(rgb(0 0 0 / 30%), rgb(255 255 255 / 30%));
  --text-alpha-30: light-dark(rgb(0 0 0 / 30%), rgb(255 255 255 / 30%));
  --dark-a35: rgb(0 0 0 / 35%);
  --light-a35: rgb(255 255 255 / 35%);
  --overlay-35: light-dark(rgb(0 0 0 / 35%), rgb(255 255 255 / 35%));
  --text-alpha-35: light-dark(rgb(0 0 0 / 35%), rgb(255 255 255 / 35%));
  --dark-a40: rgb(0 0 0 / 40%);
  --light-a40: rgb(255 255 255 / 40%);
  --overlay-40: light-dark(rgb(0 0 0 / 40%), rgb(255 255 255 / 40%));
  --text-alpha-40: light-dark(rgb(0 0 0 / 40%), rgb(255 255 255 / 40%));
  --dark-a45: rgb(0 0 0 / 45%);
  --light-a45: rgb(255 255 255 / 45%);
  --overlay-45: light-dark(rgb(0 0 0 / 45%), rgb(255 255 255 / 45%));
  --text-alpha-45: light-dark(rgb(0 0 0 / 45%), rgb(255 255 255 / 45%));
  --dark-a50: rgb(0 0 0 / 50%);
  --light-a50: rgb(255 255 255 / 50%);
  --overlay-50: light-dark(rgb(0 0 0 / 50%), rgb(255 255 255 / 50%));
  --text-alpha-50: light-dark(rgb(0 0 0 / 50%), rgb(255 255 255 / 50%));
  --dark-a55: rgb(0 0 0 / 55%);
  --light-a55: rgb(255 255 255 / 55%);
  --overlay-55: light-dark(rgb(0 0 0 / 55%), rgb(255 255 255 / 55%));
  --text-alpha-55: light-dark(rgb(0 0 0 / 55%), rgb(255 255 255 / 55%));
  --dark-a60: rgb(0 0 0 / 60%);
  --light-a60: rgb(255 255 255 / 60%);
  --overlay-60: light-dark(rgb(0 0 0 / 60%), rgb(255 255 255 / 60%));
  --text-alpha-60: light-dark(rgb(0 0 0 / 60%), rgb(255 255 255 / 60%));
  --dark-a65: rgb(0 0 0 / 65%);
  --light-a65: rgb(255 255 255 / 65%);
  --overlay-65: light-dark(rgb(0 0 0 / 65%), rgb(255 255 255 / 65%));
  --text-alpha-65: light-dark(rgb(0 0 0 / 65%), rgb(255 255 255 / 65%));
  --dark-a70: rgb(0 0 0 / 70%);
  --light-a70: rgb(255 255 255 / 70%);
  --overlay-70: light-dark(rgb(0 0 0 / 70%), rgb(255 255 255 / 70%));
  --text-alpha-70: light-dark(rgb(0 0 0 / 70%), rgb(255 255 255 / 70%));
  --dark-a75: rgb(0 0 0 / 75%);
  --light-a75: rgb(255 255 255 / 75%);
  --overlay-75: light-dark(rgb(0 0 0 / 75%), rgb(255 255 255 / 75%));
  --text-alpha-75: light-dark(rgb(0 0 0 / 75%), rgb(255 255 255 / 75%));
  --dark-a80: rgb(0 0 0 / 80%);
  --light-a80: rgb(255 255 255 / 80%);
  --overlay-80: light-dark(rgb(0 0 0 / 80%), rgb(255 255 255 / 80%));
  --text-alpha-80: light-dark(rgb(0 0 0 / 80%), rgb(255 255 255 / 80%));
  --dark-a85: rgb(0 0 0 / 85%);
  --light-a85: rgb(255 255 255 / 85%);
  --overlay-85: light-dark(rgb(0 0 0 / 85%), rgb(255 255 255 / 85%));
  --text-alpha-85: light-dark(rgb(0 0 0 / 85%), rgb(255 255 255 / 85%));
  --dark-a90: rgb(0 0 0 / 90%);
  --light-a90: rgb(255 255 255 / 90%);
  --overlay-90: light-dark(rgb(0 0 0 / 90%), rgb(255 255 255 / 90%));
  --text-alpha-90: light-dark(rgb(0 0 0 / 90%), rgb(255 255 255 / 90%));
  --dark-a95: rgb(0 0 0 / 95%);
  --light-a95: rgb(255 255 255 / 95%);
  --overlay-95: light-dark(rgb(0 0 0 / 95%), rgb(255 255 255 / 95%));
  --text-alpha-95: light-dark(rgb(0 0 0 / 95%), rgb(255 255 255 / 95%));
}

.nav-container {
  background-color: white;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 1rem;
}
.nav-container a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
.nav-container a:hover {
  color: blue;
}
.nav-container a.active {
  border-bottom: 2px solid blue;
}

.home-page {
  padding: 2rem;
}
.home-page h1 {
  color: #0b7285;
  text-transform: uppercase;
}
.home-page button {
  background: #0b7285;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.home-page button:hover {
  opacity: 0.9;
}

.video-container {
  position: relative;
  max-width: 100%;
  aspect-ratio: 16/9;
  border: 1px solid var(--border-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.video-container .video-wrapper {
  height: 100%;
  display: inline-block;
}
.video-container .video-wrapper #video {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}
.video-container .video-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  background: linear-gradient(var(--dark-a10), transparent);
  transition: all 0.1s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.video-container .video-header.active {
  opacity: 1;
  visibility: visible;
}
.video-container .video-header {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  box-sizing: border-box;
}
.video-container .video-header .video-title {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.video-container .show-speed-header {
  position: absolute;
  inset: 0 0 auto 0;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  user-select: none;
}
.video-container .show-speed-header .speed-display {
  position: relative;
  padding: 0.5rem 0.625rem;
  background: var(--dark-a60);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
}
.video-container .show-speed-header .speed-display .speed-text {
  margin-right: 0.375rem;
}
.video-container .show-speed-header .speed-display .speed-icon {
  display: block;
  height: 0.6875rem;
  aspect-ratio: 1/1;
  background: url("./assets/icons/speed.svg") no-repeat center center;
  opacity: 0.5;
  animation: blink 0.5s infinite;
  animation-delay: var(--delay, 0s);
}
@keyframes blink {
  0%, 100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}
.video-container .video-load-container {
  position: absolute;
  inset: 3rem 0 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-container .video-load-container .video-loading {
  position: relative;
  margin: 0 auto;
  width: 10%;
}
.video-container .video-load-container .video-loading:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.video-container .video-load-container .video-loading .circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.video-container .video-load-container .video-loading .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes color {
  100%, 0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%, 90% {
    stroke: #ffa700;
  }
}
.video-container .video-load-container .video-loading .showboxform {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%;
}
.video-container .video-load-container .video-loading #LoaderForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40%;
  aspect-ratio: 2/1;
  --_g: no-repeat
    radial-gradient(
      circle closest-side,
      light-dark(var(--text-light), var(--text-dark)) 80%,
      #ffffff00
    );
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: 33.3333333333% 50%;
  animation: loader-animate 1s infinite linear;
}
@keyframes loader-animate {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
.video-container .video-controller {
  position: absolute;
  top: 3rem;
  left: 0;
  width: 100%;
  height: calc(100% - 3rem - 4rem);
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  box-sizing: border-box;
  transition: all 0.1s ease-in-out;
}
.video-container .video-controller .warpper-control-buttons {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  transform: scale(1);
  transition: transform 0.3s ease, opacity 0.2s 0.15s, visibility 0.2s 0.15s;
  opacity: 1;
  visibility: visible;
}
.video-container .video-controller .warpper-control-buttons.active {
  transform: scale(1.5);
  opacity: 0;
  visibility: hidden;
}
.video-container .video-controller .warpper-control-buttons .control-button {
  position: relative;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  cursor: pointer;
}
.video-container .video-controller .warpper-control-buttons .main-btn {
  min-width: 3rem;
  width: 10%;
  aspect-ratio: 1/1;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.video-container .video-controller .warpper-control-buttons .main-btn.skip-backward {
  background: url("./assets/icons/skip-backward.svg") no-repeat center/90%;
}
.video-container .video-controller .warpper-control-buttons .main-btn.play {
  background: url("./assets/icons/play.svg") no-repeat center/90%;
}
.video-container .video-controller .warpper-control-buttons .main-btn.pause {
  background: url("./assets/icons/pause.svg") no-repeat center/90%;
}
.video-container .video-controller .warpper-control-buttons .main-btn.skip-forward {
  background: url("./assets/icons/skip-forward.svg") no-repeat center/90%;
}
.video-container .controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.video-container .controls.active {
  opacity: 1;
  visibility: visible;
}
.video-container .controls {
  background: linear-gradient(transparent, var(--dark-a10));
  display: flex;
  flex-direction: column;
  padding: 0 0.625rem;
  box-sizing: border-box;
}
.video-container .controls .progress-container {
  position: relative;
  margin: 0 0.625rem;
}
.video-container .controls .progress-container:hover .progress-bar-container .progress-bar {
  height: 0.3125rem;
}
.video-container .controls .progress-container .progress-bar-container {
  position: relative;
  flex: 0 0 0.3125rem;
  height: 0.3125rem;
  margin: 0.5rem 0;
  cursor: pointer;
}
.video-container .controls .progress-container .progress-bar-container .progress-bar {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 0.1875rem;
  background: rgba(255, 255, 255, 0.2);
  transition: all 0.1s ease-in-out;
}
.video-container .controls .progress-container .progress-bar-container .progress-bar .progress-preloaded-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  transition: all 0.5s ease-in-out;
}
.video-container .controls .progress-container .progress-bar-container .progress-bar .progress-hover-scrubber {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
}
.video-container .controls .progress-container .progress-bar-container .progress-bar .progress-hover-scrubber::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  width: 0.1875rem;
  height: 0.625rem;
  border-radius: 0.125rem;
  background: #fff;
}
.video-container .controls .progress-container .progress-bar-container .progress-bar .progress-hover-scrubber::after {
  content: var(--timer);
  position: absolute;
  bottom: 100%;
  right: 0;
  transform: translateX(50%) translateY(-0.625rem);
  padding: 0.3125rem 0.635rem;
  border-radius: 0.625rem;
  background: var(--dark-a60);
  color: var(--text-main);
  font-size: 0.625rem;
}
.video-container .controls .progress-container .progress-bar-container .progress-bar .progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #ff0000;
}
.video-container .controls .progress-container .progress-bar-container .slider-thumb {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
  width: 0.8125rem;
  height: 0.8125rem;
  aspect-ratio: 1/1;
  background: #ff0000;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.video-container .controls .time {
  color: var(--text-light);
  font-size: 0.875rem;
  min-width: 4rem;
  text-align: right;
}
.video-container .buttons {
  position: relative;
  width: calc(100% - 2 * 1rem);
  margin: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.video-container .buttons .left-buttons {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.video-container .buttons .left-buttons .control-button {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  padding: auto;
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  cursor: pointer;
}
.video-container .buttons .left-buttons .control-button.play-btn {
  background: url("./assets/icons/play.svg") no-repeat center center;
}
.video-container .buttons .left-buttons .control-button.pause-btn {
  background: url("./assets/icons/pause.svg") no-repeat center center;
}
.video-container .buttons .left-buttons .time-display {
  color: #fff;
  font-size: 0.625rem;
  user-select: none;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}
.video-container .buttons .right-buttons {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.video-container .buttons .right-buttons .control-button {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  padding: auto;
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  cursor: pointer;
}
.video-container .buttons .right-buttons #setting-btn {
  background: url("./assets/icons/setting.svg") no-repeat center/80%;
}
.video-container .buttons .right-buttons #playback-speed {
  background: url("./assets/icons/speed.svg") no-repeat center/80%;
}
.video-container .buttons .right-buttons #fullscreen-toggle {
  background: url("./assets/icons/fullscreen.svg") no-repeat center/80%;
}
.video-container .buttons .right-buttons #fullscreen-toggle.exit-fullscreen {
  background: url("./assets/icons/exit-fullScreen.svg") no-repeat center/80%;
}
.video-container .setting-overlay {
  position: absolute;
  inset: 3rem 0 4.125rem 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 5;
}
.video-container .setting-overlay .setting-menu {
  position: relative;
  max-height: 100%;
  height: 14rem;
  margin-right: 7.25rem;
  background: var(--dark-a60);
  border: 1px solid var(--border-dark);
  border-radius: 0.25rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.video-container .setting-overlay .setting-menu .setting-options-list {
  position: relative;
  display: block;
  max-height: 100%;
  list-style: none;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.4) transparent;
}
.video-container .setting-overlay .setting-menu .setting-option {
  width: 10rem;
  padding: 0.375rem 1rem;
  font-size: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.video-container .setting-overlay .setting-menu .setting-option:hover {
  background: var(--light-a30);
}
.video-container .setting-overlay .setting-menu .setting-option .check-icon {
  opacity: 0;
  visibility: hidden;
}
.video-container .setting-overlay .setting-menu .setting-option .check-icon.active {
  opacity: 1;
  visibility: visible;
}
.video-container .speed-overlay {
  position: absolute;
  inset: 3rem 0 4.125rem 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 5;
}
.video-container .speed-overlay .speed-menu {
  position: relative;
  max-height: 100%;
  height: 14rem;
  margin-right: 0.625rem;
  background: var(--dark-a60);
  border: 1px solid var(--border-dark);
  border-radius: 0.25rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.video-container .speed-overlay .speed-menu .speed-options-list {
  position: relative;
  display: block;
  max-height: 100%;
  list-style: none;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.4) transparent;
}
.video-container .speed-overlay .speed-menu .speed-option {
  width: 6rem;
  padding: 0.375rem 1rem;
  font-size: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.video-container .speed-overlay .speed-menu .speed-option:hover {
  background: var(--light-a30);
}
.video-container .speed-overlay .speed-menu .speed-option .check-icon {
  opacity: 0;
  visibility: hidden;
}
.video-container .speed-overlay .speed-menu .speed-option .check-icon.active {
  opacity: 1;
  visibility: visible;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: light-dark(rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.4)) transparent;
}

body {
  position: relative;
  width: 100%;
  height: 100dvh;
  font-family: sans-serif;
  background-color: var(--bg-app);
  color: var(--text-main);
}
